*{
    marging:0px;
    padding:0px;
}
body{
    background: whitesmoke;
}
nav ul{
    list-style: none;
}
 nav ul li{
    float:left;
    margin:15px;
}
nav ul li a{
    text-decoration: none;
    color:black;
    font-size: 20px;

}

#header-img{
    float: left;
    height:40px;
}
input{
    width: 30%;
    height:30px;
}
#submit{
    width:10%;
    color:black;
    font-size: larger;
    background-color: #f1c40f;
}
#main{
    margin-top: 100px;
    
}
.feature{
    width:100%;
    height:100px;
    margin-bottom: 50px;
    
}
#i1{
    float: left;
    margin-left: 100px;
    line-height: 100px;
    font-size:3.125rem;
    color:darkorange;
}
#heading1{
    float: right;
    margin-right:300px;
}
#features2{
    width:100%;
    height:100px;
    margin-bottom: 50px;
}
#i2{
    float: left;
    margin-left: 100px;
    line-height: 100px;
    font-size:3.125rem;
    color:darkorange;
}
#heading2{
    float: right;
    margin-right:300px;
}
#features3{
    width: 100%;
    height:100px;
}
#i3{
    float: left;
    margin-left: 100px;
    line-height: 100px;
    font-size:3.125rem;
    color:darkorange;
}
#heading3{
    float: right;
    margin-right:300px;
}
#nav-bar{
    margin-top: -20px;

}
#head{
    margin-top: 120px;
    text-align: center;
    font-size:35px ;
}
#fixed{
    position: fixed;
    top: 0px;
    width: 100%;
    height:100px;
    background:whitesmoke;
}
#fixed2{
    float: left;
    margin-top: 20px;
}
#fixed3{
    float: right;
    margin-left: 550px;
}
#vide{
    margin-top: 100px;
}
#header{
    position: fixed;
    top: 0px;
}
#box{
    width:100%;
    height: 500px;
    margin-top: 80px;
}
#box1{
    width:32%;
    height: 360px;
    display: inline-block;
    float: left;
    border: 1px solid black;
}
#box2{
    width:32%;
    height: 360px;
    float: left;
    margin-left: 25px;
    border: 1px solid black;
}
#box3{
    width:32%;
    height: 360px;
    float: right;
    border: 1px solid black;
}
h3{
    text-align: center;
    width: 100%;height: 50px;
    background:#E6E6E6;
    margin-top: 0px;
    line-height: 50px;
}
h1{
    text-align: center;
}
#box button{
    background-color:#f8c703;
    height:45px;
    width:100px;
}
.footer{
    margin-top: -105px;
}
.footer  ul{
    list-style: none;
}
.footer > ul li{
    margin:10px;
    float:right;
    
}
.footer > ul li a{
    text-decoration: none;
    color:black;
    font-size: 20px;
}
.footer{
    background-color:lightgray;
    height:100px;
    width:100%
}
span{
 display:flex;
}

#box p{
    text-align:center;
    font-size: 20px;
    

}
@media (max-width: 600px) {
    header {
      flex-wrap: wrap;
    }
  }
